*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ccc;
}
.heading{
    display: flex;
    justify-content: center;
    color: brown;
    margin-top: 20px;
}
.selections{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select{
    background: none;
    border: 3px solid white;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    font-size: 5rem;
    cursor: pointer;
    margin-right: 20px;
}
.game-result{
    position: absolute;
    top: 40%;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bolder;

}

.js-moves{
    padding-top: 20px;
    color: brown;
}

.js-score{
    padding-top: 30px;
    font-family: 'Trebuchet MS';
}
.reset{
    position: absolute;
    top:70%;
    left: 43%;
    padding: 15px;
    background-color:black;
    color:white;
    font-size: x-large;
    border: none;
    border-radius:20px;
    cursor: pointer;


    
}